.button {
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--blue);
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.active {
  background-color: var(--pink);
  color: var(--white);
}

.button:active {
  background-color: var(--pink);
  color: var(--white);
}
